body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  text-align: center;
  background-color: #ffffff;
  width: 100%;
}

#bold {
  font-weight: bold;
}

a {
  text-decoration: none;
}

#contact {
  width: 100%;
  background-color: #363636;
  padding: 30px;
}

#contact a {
  color: #a7a2a2;
  font-weight: bold;
}

hr {
  color: lightgray;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  height: 140px;
  background-color: white;
}

.navbar .nav1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.navbar .nav1 p {
  font-size: x-large;
  font-weight: bold;
  padding-left: 20px;
  color: #26247b;
}

.navbar .nav1 p img {
  width: 20px;
  vertical-align: middle;
}

.navbar .nav1 ul {
  -ms-grid-column-align: end;
      justify-self: end;
}

.navbar .nav1 ul li {
  border: 2px solid gray;
  margin-right: 20px;
  color: gray;
  padding: 10px;
}

.navbar .nav1 ul a {
  color: gray;
}

.navbar .nav2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav2 ul li {
  margin-right: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline;
  color: black;
  padding: 10px;
}

a {
  text-decoration: none;
}

.nav-left {
  width: 50%;
}

#navdiv1,
#navdiv2 {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

ul {
  list-style-type: none;
}

#train-search-form {
  background-color: #023562;
  height: 50vh;
}

#train-search-form div {
  color: white;
  padding: 10vh;
  font-weight: bold;
}

#train-search-form form {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20% 20%;
}

#train-search-form form div {
  padding: 30px 20px;
}

#train-search-form form div select {
  background-color: white;
  padding: 10px;
  border: 1px solid lightgray;
  width: 100%;
  height: 100%;
}

#train-search-form form div input {
  padding: 10px;
  width: 100%;
  height: 100%;
}

#train-search-form form div input[type="submit"] {
  background-color: #1779d7;
  border: 1px solid #1779d7;
  color: white;
  font-weight: bold;
}

#feature {
  height: 28vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f5f5f5;
  padding: 30px 0;
}

#feature div {
  width: 25%;
  padding: 5px;
  background-color: #e7e7e7;
  border-radius: 10px;
}

#feature div h3 {
  font-family: sans-serif;
  font-weight: 600;
}

#feature div p {
  color: #686767;
  font-family: sans-serif;
}

#faq {
  padding: 10vh 20vh;
  background-color: #f5f5f5;
}

#faq h3 {
  text-align: left;
  font-family: sans-serif;
  color: #414040;
}

#faq p {
  text-align: left;
  font-family: sans-serif;
  color: #696767;
}

#faq p ul li {
  text-align: left;
}

#register_form {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 10px;
  margin: auto 10%;
}

#errors {
  margin: auto;
  width: 50%;
  border: 1px solid black;
}

#login_form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 10px;
  margin: auto 20%;
}

#form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 20px;
  margin: auto 20%;
}

#form label {
  text-align: left;
}

#form input[type="text"],
#form input[type="number"],
#form input[type="select"],
#form input[type="submit"] {
  padding: 10px;
  width: 100%;
}

#errors li {
  text-align: left;
}

.contact {
  position: absolute;
  top: 140px;
  left: 20%;
  width: 60%;
  -webkit-box-shadow: 5px 10px 8px black;
          box-shadow: 5px 10px 8px black;
  padding: 20px;
}

.contact p {
  text-align: left;
}

#select_div {
  grid-column: span 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

#select_div select {
  margin: 10px;
  padding: 5px;
  width: 100%;
}

.admin {
  position: absolute;
  top: 60px;
  left: 20%;
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.a_nav {
  width: 20%;
  border-right: 1px solid black;
  height: 90vh;
  top: 60px;
  position: fixed;
  overflow: auto;
}

.a_nav ul li {
  text-align: left;
}

.a_main {
  margin-left: 20%;
  width: 80%;
}

#train-search-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 60px;
  width: 100%;
}

#train-side-nav {
  width: 20%;
  height: 90vh;
  position: fixed;
  border-right: 1px solid lightgray;
}

#side_form select {
  width: 70%;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 10px;
}

#side_form input {
  width: 70%;
  border: 1px solid lightgrey;
  padding: 10px;
}

#side_form label {
  color: #082b71;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

#train-main {
  width: 80%;
  position: absolute;
  left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#train-header {
  width: 100%;
  padding: 0 10px;
}

#n_o_t {
  padding-top: 10px;
}

#t_nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.33% 33.33% 33.33%;
      grid-template-columns: 33.33% 33.33% 33.33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(230, 225, 225, 0.678);
  margin: 10px 0;
  padding: 0;
}

#t_nav_links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  border: 1px solid black;
  padding: 10px;
}

#train_list_header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  margin: 0;
  border: 2px solid #dcdcdc;
}

#train_list_header_sec2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.33% 33.33% 33.33%;
      grid-template-columns: 33.33% 33.33% 33.33%;
}

.train-search-results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  margin: 10px;
  border: 1px solid lightgrey;
}

#train-name div {
  text-align: left;
  padding: 10px;
}

#train-timing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.33% 33.33% 33.33%;
      grid-template-columns: 33.33% 33.33% 33.33%;
}

#select-teir {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70%;
  height: 30%;
  background-color: white;
  border: 1px solid lightgrey;
}

.availability {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70%;
  height: 40%;
  background-color: #00b9f5;
  border: 1px solid #00b9f5;
  font-family: "Courier New", Courier, monospace;
}

#book-train {
  position: absolute;
  top: 70px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

#book-header img {
  border: 1px solid #000005;
}

#book-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

#book-main {
  width: 70%;
  height: 50vh;
  padding-left: 10px;
}

.p_detail {
  border: 1px solid lightgrey;
  padding: 10px;
  text-align: left;
  margin: 20px;
  -webkit-box-shadow: 0 0 5px lightgrey;
          box-shadow: 0 0 5px lightgrey;
}

.p_detail input,
.p_detail select {
  min-width: 20%;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 10px;
  margin: 10px;
}

#passenger button {
  background-color: #00b9f5;
}

#email-phone {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  border: 1px solid lightgrey;
  -webkit-box-shadow: 0 0 5px lightgrey;
          box-shadow: 0 0 5px lightgrey;
  margin: 20px;
  padding: 10px;
}

#email-phone > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  border-right: 1px solid lightgrey;
}

#book-side-nav {
  width: 30%;
}

#ticket {
  background-color: #dff1ff;
  margin: auto;
  width: 65%;
}

#review {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  padding: 20px;
}

#review div,
#review p {
  text-align: left;
}

#review-train-name {
  border: 1px solid lightgray;
  padding: 20px;
  -webkit-box-shadow: 0 0 5px lightgray;
          box-shadow: 0 0 5px lightgray;
}

#review-station {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  border: 1px solid lightgray;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px lightgray;
          box-shadow: 0 0 5px lightgray;
}

.review-station-header {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

#review-availability {
  border: 1px solid lightgray;
  padding: 20px;
  -webkit-box-shadow: 0 0 5px lightgray;
          box-shadow: 0 0 5px lightgray;
}

#review-passenger {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-shadow: 0 0 10px lightgray;
          box-shadow: 0 0 10px lightgray;
}

#review-passenger-header {
  background-color: #337ab7;
  padding: 10px;
  color: white;
}

.review-passenger-detail {
  border: 1px solid lightgray;
  padding: 10px;
}

#review button {
  padding: 10px;
  width: 20%;
  margin-top: 10px;
  background-color: #00b9f5;
  color: white;
  border: 1px solid #00b9f5;
}

#ticket-page {
  position: absolute;
  top: 60px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

#ticket-page div {
  text-align: left;
}

#find-ticket {
  padding: 20px;
  border: 1px solid lightgray;
  width: 50%;
  margin: 10px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}
/*# sourceMappingURL=index.css.map */