body {
  margin: 0;
}

* {
  box-sizing: border-box;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.main {
  display: grid;
  position: absolute;
  top: 60px;
  grid-template-columns: auto;
  text-align: center;
  background-color: #ffffff;
  width: 100%;
}

.ad {
  margin: 20px auto;
  width: 60%;
  border: 1px solid black;
}

#search-container {
  display: flex;
  height: 90vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    ),
    url("./images/train.jpg");
  background-size: cover;
}

#search {
  width: 50%;
  border: 1px solid lightgray;
  box-shadow: 5px 10px 5px black;
  background-color: white;
  text-align: center;
  padding: 10px;
  margin: 10px 0 0 20%;
  height: 70vh;
}

#search form select {
  width: 100%;
  padding: 10px;
  background-color: white;
  border: 1px solid lightgray;
}

#search form input {
  width: 100%;
  padding: 10px;
  border: 1px solid lightgray;
}

#search form input[type="submit"] {
  background-color: #2e3192;
  color: white;
}

#rightofsearch {
  width: 50%;
  color: white;
  margin: auto;
}

#search-container {
  display: grid;
  grid-template-columns: auto auto;
}

#services {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
}

#services h3 {
  border: 1px solid black;
  margin: 10px;
  padding: 20px 0;
}

#holidays-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

#holidays-container div {
  padding: 10px;
  margin: 20px;
  text-align: left;
  width: 90%;
  height: 85vh;
  border: 1px solid gray;
  box-shadow: 5px 5px 5px lightgray;
}

#holidays-container img {
  width: 100%;
  height: 60%;
}
#holidays-container #bottlead {
  height: 100%;
}

#bold {
  font-weight: bold;
}

a {
  text-decoration: none;
}

#contact {
  width: 100%;
  background-color: lightgray;
  padding: 30px;
}

.navbar {
  display: flex;
  background-color: #f8f9fa;
  align-items: center;
  height: 60px;
  box-shadow: 2px 4px 3px black;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.icon {
  width: 50px;
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.nav-left {
  width: 10%;
}

#navdiv1,
#navdiv2 {
  width: 65%;
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
}

li {
  display: block;
  padding: 10px;
}

#register_form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin: auto 20%;
}

#errors {
  margin: auto;
  width: 50%;
  border: 1px solid black;
}

#login_form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin: auto 20%;
}

#form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  margin: auto 20%;
}

#form label {
  text-align: left;
}

#form input[type="text"],
#form input[type="number"],
#form input[type="select"],
#form input[type="submit"] {
  padding: 10px;
  width: 100%;
}

#errors li {
  text-align: left;
}

.contact {
  position: absolute;
  top: 60px;
  left: 20%;
  width: 60%;
  box-shadow: 5px 10px 8px black;
  padding: 20px;
}

.contact p {
  text-align: left;
}

#select_div {
  grid-column: span 2;
  display: grid;
  grid-template-columns: auto auto;
}

#select_div select {
  margin: 10px;
  padding: 5px;
  width: 100%;
}

.admin {
  position: absolute;
  top: 60px;
  display: flex;
  left: 20%;
  width: 80%;
}
.a_nav {
  width: 20%;
  border: 1px solid black;
  height: 90vh;
  top: 60px;
  position: fixed;
  overflow: auto;
}

.a_nav ul li {
  text-align: left;
}

.a_main {
  margin-left: 20%;
  width: 80%;
}

#train-search-page {
  display: flex;
  position: absolute;
  top: 60px;
  width: 100%;
}

#train-side-nav {
  width: 20%;
  height: 90vh;
  position: fixed;
  border-right: 1px solid lightgray;
}

#side_form select {
  width: 70%;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 10px;
}

#side_form input {
  width: 70%;
  border: 1px solid lightgrey;
  padding: 10px;
}

#side_form label {
  color: #082b71;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

#train-main {
  width: 80%;
  position: absolute;
  left: 20%;
  display: flex;
  flex-direction: column;
}

#train-header {
  width: 100%;
  padding: 0 10px;
}

#n_o_t {
  padding-top: 10px;
}

#t_nav {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  align-items: center;
  background-color: rgba(230, 225, 225, 0.678);
  margin: 10px 0;
  padding: 0;
}

#t_nav_links {
  display: grid;
  grid-template-columns: auto auto auto;
  border: 1px solid black;
  padding: 10px;
}

#train_list_header {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin: 0;
  border: 2px solid #dcdcdc;
}

#train_list_header_sec2 {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}

.train-search-results {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin: 10px;
  border: 1px solid lightgrey;
  box-shadow: 10px 10px 5px grey;
}

#train-name div {
  text-align: left;
  padding: 10px;
}

#train-timing {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}

#select-teir {
  justify-self: center;
  align-self: center;
  width: 70%;
  height: 30%;
  background-color: white;
  border: 1px solid lightgrey;
}

#availability {
  justify-self: center;
  align-self: center;
  width: 70%;
  height: 40%;
  background-color: #00b9f5;
  border: 1px solid #00b9f5;
  font-family: "Courier New", Courier, monospace;
}
